section {
    background-image: url(./Premium\ Photo\ _\ Aswan\ sunset\ scenery\ view\ of\ the\ Nile\ and\ traditional\ boats\ Egypt.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.507);
}
nav img{
    width:50px;
    
}

.back::placeholder{
    color: white;
}

/* footer ul{
    top:15%;
    right:15%;
} */
section input{
    margin-top: 150px;
}
section button{
    margin-top: 150px;
}