section {
    background-image: url(./../download\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
}

.col {
    margin-top: 180px;
}

.color {
    background-color: rgb(187, 123, 177);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}